<div class="box l-footer">
    <p class="span-rows box-about">
        <span class="box-about_first"><a href="javascript:;">关于零点科技</a></span>
        <b class="space"></b>
        <span><a href="javascript:;">IT中文社区</a></span>
        <b class="space"></b>
        <span><a href="javascript:;">零点技术分享</a></span>
        <b class="space"></b>
        <span><a href="javascript:;">零点技术社区</a></span>
    </p>
    <p class="span-rows box-copyright"><span style="margin:0 4px">网址之家</span>
        <span><a href="javascript:;">版权所有：@零点科技 <i class="i-papers"></i></a></span>
    </p>
</div>
</body>
</html>
